<?xml version="1.0"?>
<ruleset name="WP Last Login">
	<description>Coding standards for WP Last Login plugin</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/lang/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wp-last-login"/>
			</property>
		</properties>
	</rule>

	<rule ref="PHPCompatibilityWP"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
